<footer>
    <h2 class="footerH">Espresso Emporium&copy;</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/espressos">Espressos</a></li> -->
            <li><a href="/espressos/new">Add Espresso</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</footer>
