<footer>
    <h2 class="footerH">Espresso Emporium&copy;</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/espressos">Espressos</a></li>
            <li><a href="#">Brewing Instructions</a></li>
        </ul>
    </nav>
</footer>
