<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Espresso Emporium`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>

        <section class="content">
            <h2 id="aboutEspresso">About Espresso Emporium</h2>
            <p>
                Espresso Emporium was born out of my love for espresso and my desire to help other espresso enthusiasts find their perfect cup of coffee. As an espresso enthusiast myself, I found it difficult and time-consuming to sift through countless labels and reviews on Amazon to find the perfect blend. I wanted to create a platform that could help other espresso enthusiasts avoid this hassle and focus on what really matters - enjoying a great cup of coffee.
            </p>
            <p>
                Espresso Emporium is a community-driven website where users can find reviews of various espresso blends from other enthusiasts. The website provides a platform for people to share their thoughts and experiences with different espresso blends, helping others make more informed decisions about which espresso to try.
            </p>
            <p>
               I believe that coffee is not just a drink, but an experience. It has the power to bring people together and create moments of joy and connection. I created Espresso Emporium to help others discover this same joy and connection through the perfect cup of espresso. So, whether you're a seasoned espresso drinker or just starting out, I hope you find Espresso Emporium to be a valuable resource in your quest for the perfect cup of coffee.
            </p>



            <h2 id="aboutTakeaway">Takeaway</h2>
            <ul>
                <li>Espresso Emporium was created out of a love for espresso and a desire to help others find their perfect cup of coffee.</li>
                <li>The website is community-driven and provides reviews of various espresso blends to help users make more informed decisions about which espresso to try.
                </li>
                <li>Espresso is more than just a drink; it has the power to bring people together and create moments of joy and connection.
                </li>
                <li>Espresso Emporium aims to be a valuable resource for both seasoned espresso drinkers and those just starting out on their espresso journey.
                </li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
