<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Espresso Emporium`}) %>
    <link rel="stylesheet" href="/styles/brewing-instructions.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h2 id="brewing-instructions">
        Brewing Instructions
    </h2>

    <ul class="instructions-grid">
        <li class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZuQu12vMQZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </li>
         <li class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Wly6tZeH_JY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </li>
         <li class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/j1dcxol0dNA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </li>
         <li class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aTFsBqhpLes" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </li>
         <li class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XQNn500VLLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </li>
         <li class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xp3GIR9lynE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </li>
         <li class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8Vu9vIdmj9Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </li>
         <li class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jMWEISj7EXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </li>
    </ul>






   <%- include('./partials/footer.ejs') %>
</body>

</html>