@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    background-color: #A07855;
}

div {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    /* border: .4px solid #ccc; */
    padding: 10px;
    /* margin: 4vh auto; */
    /* box-shadow: 2px 2px 5px #ccc; */
}

img {
    width: 60%;
    min-width: 300px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.espresso-name {
    font-family: 'Sono', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin: 0 20%;
}

#espressoDetails {
    font-size: 14.8px;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Sono', sans-serif;
}

#espressoRoast{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

strong {
    font-weight: bold;
    font-family: 'Sono', sans-serif;
}

.featured {
    background-color: #ffd700;
}


.espressoActions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn a {
    color: #fff;
}

.reviewH {
    font-family: 'Tilt Warp', cursive;
    color: #F5D3B3;
    letter-spacing: 1.9px;
}


.review {
    display: inline-block;
    font-family: 'Sono', sans-serif;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 400px;
    text-align: left;
  }