/* Reset styles for cross-browser consistency */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #6F4E37;
}

a:hover {
    text-decoration: underline;
opacity: 120%;
}

/* Header styles */
header {
    font-family: 'Tilt Warp', cursive;
    align-items: center;
    background-color: #A07855;
    padding: 1rem;
    color: #F5DEB3;
    letter-spacing: 1px;
}

h1 {
    font-size: 2.7rem;
    text-align: center;
    letter-spacing: 1px;
}

h1 a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 550px;
}

nav li:not(:last-child) {
    margin-right: 1rem;
}

nav a {
    font-size: 1.2rem;
}



.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A07855;
    color: #f3d397;
    height: 10vh;
}

.aboutSection h2 {
    font-size: 2.7rem;
    margin-bottom: -1.7rem;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: .7rem 1.5rem;
    font-size: 16px;
    background-color: #6F4E37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #A0522D
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #A07855;
    width: calc(100vw);
    font-size: 14px;
    /* color: #F5DEB3; */
}
/* .footerNav {
    text-align: center;
} */

footer * {
    color: #6F4E37;
}

.footerH {
    color: #F5DEB3;
}

/* .footerUl {
    color: #F5DEB3;
} */
footer ul {
    display: flex;
    list-style: none;
    margin-left: 520px;
    font-family: 'Tilt Warp', cursive;
}
